  
  <ng-container>
  <ng-container *ngIf="node.type === 'text'">
      <mat-form-field class="form-field">
        <mat-label>{{node.name}}</mat-label>
        <input matInput [name]="node.name" [formControl]="control" (change)="onNodeValueChange($event)">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="node.type === 'dropdown'">
      <mat-form-field class="form-field">
        <mat-label>{{node.name}}</mat-label>
        <mat-select [formControl]="control" (selectionChange)="onNodeValueChange($event)">
          <mat-option *ngFor="let option of node.options" [value]="option" >
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
</ng-container>

  <ng-container *ngFor="let childNode of childNodeControls; let i = index">

    <app-query-form [form]="childNode"></app-query-form>

  </ng-container>